**/.git
**/logs
**/Logs
**/log
**/Log
*.log
*.zip
**/MediaCover
**/Backups
etc/ssh_host_dsa_key
etc/ssh_host_dsa_key.pub
etc/ssh_host_rsa_key
etc/ssh_host_rsa_key.pub
.eggs/
.env
.direnv/
.pyre/
.pytype/
__pycache__/
*env/
.venv
config/
.DS_Store
_trial_temp
.project
.pydevproject
.idea/
.tox
.ssh
**/config
config/**
